@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#header4-0 P {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}
#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-article {
  color: #fff;
  text-align: right;
}
#social-buttons2-1 .mbr-header__text {
  text-align: left;
}
