@font-face {
   font-family: 'IRAN Sans Bold';
   src: url('IRAN Sans Bold/font.ttf');
}
@font-face {
   font-family: 'IRAN Sans';
   src: url('IRAN Sans/font.ttf');
}
@font-face {
   font-family: 'IRAN Sans Light';
   src: url('IRAN Sans Light/font.ttf');
}
