<form id="post-new-comment" class="form" action="{{ site.staticmanUrl }}" method="post">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}">
    <input type="hidden" name="options[parent]" value="{{ post_slug }}">
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}">

    <input type="hidden" name="options[reCaptcha][siteKey]" value="6LcEWV8UAAAAABUdbMWr3aihp9ir3xjmV4sqTLZy">
    <input type="hidden" name="options[reCaptcha][secret]" value="ct9Wf7rENhKM2H00302/0Wv+KM3MO7GIooGCDqnMTxwQxmruPXtRBruYUE/pT7nKRnXyGpTkWA6GY2PratWOQpv/SiyoTeMzk0tArmSZKhDPq1vaFyFAi3/85GYvXHb1L+0ZIPYWKxaN35fetBUFEV3Xfvx/47toaH98BqTbdIY=">
    
    <input type="text" name="company" class="text-field" style="display: none">
    <input class="form__field text-field" type="text" name="fields[name]" placeholder="نام" required/>
    <input class="form__field text-field" type="email" name="fields[email]" placeholder="پست الکترونیکی" required/>
    <textarea class="form__field text-field" rows="10" name="fields[message]" placeholder="نظر (می‌توانید از مارک‌دان استفاده کنید)" required></textarea>
    <input id="form-subscribe" type="checkbox" name="options[subscribe]" value="email" class="checkbox">
    <label for="form-subscribe" class="form__field checkbox__label" style="display: inline-block">مرا از نظرات جدید با خبر کن!</label>
    <div class="form__recaptcha g-recaptcha" data-sitekey="6LcEWV8UAAAAABUdbMWr3aihp9ir3xjmV4sqTLZy"></div>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <input class="cta" type="submit" value="ارسال" />
</form>